body {
  background-color: lightgrey;

  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-size: large;

  color: #171717;
}

a {
  color: #2e9298;
}

a:visited {
  color: #2382a8;
}

version {
  font-family: monospace;
  
  color: #747474;
}